.titre_page{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    top:15px;
    font-size: 30px;
    margin:10px;
}
.titre_page a{
    transition: .1s;
    margin-inline: 10px;
}
.titre_page a:hover{
    scale: 105%;
}
.titre_important{
    font-size: 40px;
}
.contenu{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;
    margin-top: 20px;
    margin-bottom: 90px;
    display: flex;
}
/*Contenu de des paragraphes*/
.image{
    height: 150px;
    width: 150px;
    margin: 5px;
    border-radius: 50%;
    align-self: center;
    justify-self: center;
}
.carte_image{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.carte_image p{
    font-size: 20px;
    margin: 5px;
}
.paragraphe{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 0;
    background-color: rgba(0, 0, 0, 75%);
    transition: .1s;
    border: 3px solid #fff;
    width: 35em;
    height: 15em;
    margin-block: 3.3px;
    margin-inline: 7.5px;
    padding:10px;
    z-index: 1;
}
.paragraphe > h2{
    transition: 0.2s;
    font-size: 30px;
    text-align: center;
}
.paragraphe > p{
    text-align: justify;
    font-size: 20px;
}
.paragraphe ul li{
    font-size: 20px;
}
a.paragraphe{
    border-color: #0ff;
}
a.paragraphe > ul > li{
    font-weight: normal;
}
a.paragraphe > p{
    font-weight: normal;
}
a.paragraphe:hover{
    border-color: #fff;
}
.paragraphe > a{
    color: #0ff;
}
.paragraphe:hover{
    z-index: 1;
    scale:105%;
    background-color: #222;
    border-color: #0f0;
}
.paragraphe:hover > h2{
    color: #0ff;
}
.paragraphe > a:hover{
    color:#0f0;
}
.paragraphe_important{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: justify;
    z-index: 0;
    background-color: rgba(25, 25, 25, 100%);
    transition: .1s;
    border: 3px solid #0f0;
    width: 35em;
    height: 15em;
    margin-block: 3.3px;
    margin-inline: 7.5px;
    padding:10px;
    z-index: 1;
}
.paragraphe_important > h2{
    color: #0ff;
    transition: 0.2s;
    font-size: 30px;
    text-align: center;
}
.paragraphe_important > p{
    font-size: 20px;
}
.paragraphe_important > li{
    font-size: 20px;
}
.paragraphe_important > a{
    color: #0ff;
}
.paragraphe_important:hover{
    z-index: 1;
    scale:105%;
    background-color: #222;
    border-color: #0ff;
}
.paragraphe_important:hover > a:hover{
    color: #0f0;
}