.titre_page{
    text-align: center;
    top:15px;
    font-size: 50px;
    margin:10px;
}
.contenu{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;
    margin-bottom: 90px;
    display: flex;
}
/*Contenu de des paragraphes*/
.paragraphe{
    z-index: 0;
    background-color: rgba(0, 0, 0, 75%);
    transition: .1s;
    border: 3px solid #fff;
    width: 35em;
    height: 15em;
    margin-block: 3.3px;
    margin-inline: 7.5px;
    padding:10px;
    z-index: 1;
}
.paragraphe h2{
    transition: 0.2s;
    font-size: 30px;
    text-align: center;
}
.paragraphe p{
    font-size: 20px;
}
.paragraphe li{
    font-size: 20px;
}
.paragraphe a{
    color: #0ff;
}
.paragraphe:hover{
    z-index: 1;
    scale:105%;
    background-color: #222;
    border-color: #0f0;
}
.paragraphe:hover h2{
    color: #0ff;
}
.paragraphe a:hover{
    color:#0f0;
}
.paragraphe_important{
    z-index: 0;
    background-color: rgba(25, 25, 25, 100%);
    transition: .1s;
    border: 3px solid #0f0;
    width: 35em;
    height: 15em;
    margin-block: 3.3px;
    margin-inline: 7.5px;
    padding:10px;
    z-index: 1;
}
.paragraphe_important h2{
    color: #0ff;
    transition: 0.2s;
    font-size: 30px;
    text-align: center;
}
.paragraphe_important p{
    font-size: 20px;
}
.paragraphe_important li{
    font-size: 20px;
}
.paragraphe_important a{
    color: #0ff;
}
.paragraphe_important:hover{
    z-index: 1;
    scale:105%;
    background-color: #222;
    border-color: #fff;
}
.paragraphe_important:hover a:hover{
    color: #0f0;
}