footer{
    background-color: #000;
    bottom: 0%;
    left: 0%;
    right: 0%;
    position:fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:5px;
    padding-bottom: 20px;
    padding-top: 20px;
    z-index: 2;
}
.bouton_pdp{
    font-size: 20px;
    margin-left:5px;
    margin-right:5px;
    border-radius: 20px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #000000;
    transition:.1s;
    border:2px solid #fff;
}
.bouton_pdp:hover{
    scale:105%;
    background-color: #222;
    border-color: #0f0;
}